/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */
@import "tailwindcss";

/* @theme {
    --font-roboto: "Roboto", sans-serif;
} */

body {
    background-color: var(--color-neutral-900);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1;
}
